div(class="card")
    h2(class="card-name") Wolverine
    img(src="./public/images/wolverine.jpg", alt="wolverine",class="card-image")
    div(class="card-description") Wolverine es muy poderoso
    div(class="card-attack") Son 500 puntos de ataque
